
/* ---------------------------------------------------------------------------
 * Document
 * --------------------------------------------------------------------------- */
* { box-sizing: border-box; }

body { font-family: helvetica; }

input#search:focus { 
	border-color: red;
	outline: 0;
}

::-moz-selection { 
	color: #fff;
	background-color: #333; 	
}

::selection {
	color: #fff;
	background-color: #333;	
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=3.0.1');
  src: url('fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-style: normal;
	font-weight: normal;  
}

i { 
	cursor: pointer;
	font-family: 'FontAwesome'; 
	font-style: normal;
	font-size: 1.5rem;	
} i:hover { color: blue; }
  i:active { color: red; }

/* ---------------------------------------------------------------------------
 * Header
 * --------------------------------------------------------------------------- */

header {		
	min-width: 320px;	
	margin-top: .5rem;
	position: fixed;
	right: 0;
	text-align: center;
	width: 50%;
}

#search { 		
	border: 3px solid blue;
	font-size: 1.5rem;
	height: 40px;
	padding: 0 2.5rem 0 1rem;
	position: relative;
	width: 90%;		
}

#search + i {
	position: absolute;
	right: 7%;
	top: .35rem;
}

#dropdown {
	background: #fff;
	border: 2px solid #666;
	border-radius: 5px;
	display: block;
	margin: .5rem 5%;
	width: 2rem;	
}

#graph {	
	background: url(visual.png);	
	border: 2px solid #666;
	border-radius: 5px;
	display: none;
	margin: .5rem 5%;
	min-height: 100px;
	width: 320px;
} #graph:hover { border-color: blue; }
  #graph:active { border-color: red; }

/* ---------------------------------------------------------------------------
 * List
 * --------------------------------------------------------------------------- */

td { padding: .5rem; }
tr:nth-child(odd) { background: rgba(0, 100, 255, 0.7); }
tr:nth-child(even) { background: #bbb; }		
tr td:nth-child(odd) { border: 1px dashed #666; }
tr td:nth-child(even) { border: 1px solid #666; }

table { 	
	border-spacing: .5rem;
	min-width: 320px;
	width: 50%;	
}

tr.label {
	background: #f0f0f0;
	color: #666;
	font-weight: bold;
	text-align: center;	
}

.selected td:first-child { border-color: red; }

/* ---------------------------------------------------------------------------
 * Arrow
 * --------------------------------------------------------------------------- */

.arrow {	
	background: #88b7d5;
	border: 4px solid #c2e1f5;
	height: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.arrow:first-child { margin-top: 80px; }

.arrow.right:after, .arrow.right:before {
	border: solid transparent;
	content: " ";
	height: 0;
	left: 100%;
	position: absolute;
	pointer-events: none;
	width: 0;	
}

.arrow.right:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 10px;
	margin-top: -10px;
	top: 50%;	
}

.arrow.right:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 16px;
	margin-top: -16px;
	top: 50%;	
}

.arrow.left:after, .arrow.left:before {
	border: solid transparent;
	content: " ";
	height: 0;
	position: absolute;
	pointer-events: none;
	right: 100%;
	width: 0;
}

.arrow.left:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #88b7d5;
	border-width: 10px;
	margin-top: -10px;
	top: 50%;	
}

.arrow.left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 16px;
	margin-top: -16px;
	top: 50%;	
}

/* ---------------------------------------------------------------------------
 * Config
 * --------------------------------------------------------------------------- */

.posA { left: 33px; }
.posB { left: 113px; }
.posC { left: 193px; }
.posD { left: 273px; }
.left.posA { left: 60px; }
.left.posB { left: 140px; }
.left.posC { left: 217px; }
.left.posD { left: 300px; }

.box { width: 15px; }
.small { width: 70px; }
.medium { width: 150px; }
.large { width: 225px; }

/* ---------------------------------------------------------------------------
 * Media Screens
 * --------------------------------------------------------------------------- */

@media screen and (max-width: 660px) { 

	body { margin: 0; }
	
	header { 
		top: 0;
		width: 100%;
	} 
	
	table {
		margin-top: 85px;
		width: 100%;		
	}
	
}
